:root {
  --dark: #283739;
  --green: #388e3c;
  --green-light: rgb(131, 194, 157, 0.2);
}

* {
  margin-bottom: 0 !important;
}

.messages {
  margin-top: 12vh;
  height: 88vh;
  width: 100%;
}
.chat_chats {
  gap: 1vw;
}

.chat_chats_head {
  border-bottom: 1px solid var(--dark);
  padding: 2vw 2vw;
  border-color: rgb(40, 55, 57, 0.2);
}

.chat_chats_head h4 {
  color: var(--dark);
}

.chat > div {
  border: 1px solid white;
  border-radius: 3%;
}

.return_back_btn {
  width: 20%;
  padding-bottom: 0.5vw !important;
}

.chat_item img,
.chat_messages_head_user img {
  height: 3vw;
  border-radius: 10%;
}

.chat_item {
  transition: 0.5s;
  padding: 1.2rem;
  border-radius: 1rem;
}

.chat_item:hover {
  background-color: var(--green-light);
  cursor: pointer;
}

.chat_chats_body {
  height: 80%;
}

.chat_chats_body_chats {
  overflow-y: scroll;
}

.chat_messages_body {
  height: 90%;
  overflow-y: scroll;
}

.chat_messages_head {
  border-bottom: 1px solid var(--dark);
  border-color: rgb(40, 55, 57, 0.2);
  align-items: center;
  padding-bottom: 1vw;
}

.message_item img {
  height: 3vw;
  border-radius: 10%;
}

.message {
  background-color: var(--green-light);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;
}

.add_chat {
  width: 15%;
}

#chat_search {
  background-color: rgb(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat_search_card {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 40%;
}

#chat_search_card_btn {
  width: 20%;
}

.mantine-Select-dropdown {
  z-index: 99999999999999999999999999 !important;
}
