.body {
  height: 100%;
  width: 100%;
}
.content {
  padding: 20px;
  margin-left: 220px; /* Adjust the width of the sidebar */
}
.MainTop {
  color: #1b2559;
  font-family: Plus Jakarta Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 34px */
  padding-left: 10px;
  margin-top: 10px;
}
.content h2 {
  font-size: 34px;
  margin-top: 40px;
  margin-left: 270px;
  color: #1b2559;
  font-family: Poppins;
  font-weight: 700;
  /* margin-bottom: 20px; */
}
.Under {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.UnderHome,
.UnderLicense,
.UnderTeamOfUse,
.UnderPrivacy {
  color: #718096;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.UnderHome,
.UnderTeamOfUse,
.UnderLicense,
.UnderPrivacy {
  margin-right: 30px;
  margin-bottom: 70px;
  margin-bottom: -180px;
  padding-left: 20px;
  white-space: nowrap;
}

.UnderClass {
  margin-left: 250px;
  margin-right: 700px;
  margin-bottom: 80px;
  color: #718096;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: -180px;
  white-space: nowrap;
}

.chatFooter {
  margin-bottom: -120px;
  margin-left: -110px; /* Align with the left edge of the sidebar */
  width: calc(100% - 220px); /* Adjust width based on sidebar width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 745px;
  height: 54px;
  margin-bottom: 30px;
}

.inp1 {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: space-around;
  width: 740px;
  height: 50px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid #e2e8f0;
  /* margin-left: 30px; */
  padding-left: 20px;
  white-space: none;
}
.textUser {
  white-space: nowrap;
}

.edit {
  margin-left: 400px;
}
.iconFlash {
  display: flex;
  margin-left: 400px;
  margin-bottom: 140px;
}
.svgUser {
  margin-right: -10px;
}
.svgUser1 {
  margin-right: 20px;
  margin-left: 30px;
}
.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}
.userSend {
  display: flex;
  padding-top: 40px;
  padding-left: 170px;
}
.aiResponse {
  display: flex;
  margin-top: -30px;
  padding-left: 170px;
}
.AiText {
  display: flex;
  width: 740px;
  height: 400px;
  padding: 22px 22px 21px 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 14px;
  background: var(--white-100, #fff);
  box-shadow: 14px 27px 45px 4px rgba(112, 144, 176, 0.2);
}
