.postApplies {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  max-width: 20vw;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
}

.apply img {
  width: 50%;
  height: 50%;
}

.apply h4 {
  font-size: 18px;
}

.apply h6 {
  font-size: 14px;
  font-weight: 400;
  color: #4f4f4f;
}

.apply p {
  font-size: 15px;
  font-weight: 500;
  color: #4f4f4f;
}

.skill {
  background-color: #f4f4f4;
  padding: 0.5rem;
  border-radius: 8px;
}
