.ReqNeedAllCard {
    display: flex;
    padding: 8px 24px 6px 8px;
    align-items: center;
    height: 90%;
    gap: 10px;
    width: 50%;
    border-radius: 12px;
    background:  #b3ebad;
}

.ReqTextCard {
    background: var(--light, #F2F9F1);
    font-family: Catamaran;
    font-size: 12px;
    border: none;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    background-color: transparent;
}
.ReqTextCardDark {
    background: var(--light, #040404);
    font-family: Catamaran;
    font-size: 12px;
    border: none;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    background-color: transparent;
}