.ReqNeedAllCard {
}

.ReqTextCard {
  background: #f2f9f1;
  border: none;
  border-radius: 24px;
  padding: 0.3vw 1.5vw;
}

.ReqTextCardDark {
  background: var(--light, #040404);
  font-family: Catamaran;
  font-size: 14px;
  border: none;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: transparent;
}
