.MainNavCard {
    height: 13%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.NavAICard {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    background: var(--white-100, #FFF);
}

.TextPartCard{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.NavTextCard{
    color: #1B2559;
    font-family: "Plus Jakarta Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    border: none;
}

.IconsCard{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.AiSearchCard{
    background-color: #f4f7fe;
    border-radius: 49px;
    height: 41px;
    width: 214px;
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
}
.SvgAiCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #FFFFFF;
}

.TextSearchCard {
    color: #8e9ab9;
    font-family: "DM Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.28px;
    line-height: 20px;
}
.ProfileLogoCard{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    }