.BoxOverAll {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-radius: var(--8, 8px);
    background: var(--light, #F2F9F1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 16px;
    
}

.TextBox {
    color: var(--30, #388E3C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.imgSvg {
    height: 16px;
    position: relative;
    width: 16px;
}
.BoxButton{
    border: none;
    background-color: transparent;
}
