.Comments {
    width: 90%;
    border-radius: var(--0, 8px);
    background: #F8F0FC;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.imgEdit{
    height: 30px;
    width: 30px;
}

.Comments1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.CommentsProfileButton{
    border: none;
    background-color: transparent;
}
.ComText {
    color: var(--Dark-Blue, #334253);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    background-color: transparent;
}

.ComText1 {
    color: var(--Grayish-Blue, #67727E);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Para1{
    padding-left: 10px;
    color: var(--Grayish-Blue, #67727E);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body (M) */
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */ 
}