.AvailableProjectsAll {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.AvailableProjectCenter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 30px;
}

.AvailableProjectMain {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 20px;
}

.ButtonBackAvailableProject {
  width: 11%;
  height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AvailableProjectContent {
  width: 83%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 95%;
  gap: 30px;
}

.SearchPartAvailableProject {
  width: 100%;
  height: 7.8%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.TextPartAvailableProject {
  display: flex;
  padding: 10px;
  width: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: var(--12, 12px) var(--0, 0px) var(--0, 0px) var(--12, 12px);
  border: 1px solid rgba(56, 142, 60, 0.4);
  background: var(--white-100, #fff);
  outline: none;
}
.TextPartAvailableProjectDark {
  display: flex;
  padding: 10px;
  width: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: var(--12, 12px) var(--0, 0px) var(--0, 0px) var(--12, 12px);
  border: 1px solid rgba(56, 142, 60, 0.4);
  background: var(--white-100, #010101);
  outline: none;
}

.SvgPartAvailableProject {
  display: flex;
  height: 100%;
  padding: 0px 12.831px;
  justify-content: center;
  align-items: center;
  gap: 6.843px;
  border-radius: var(--0, 0px) var(--12, 12px) var(--12, 12px) var(--0, 0px);
  background: var(--30, #388e3c);
  border: none;
}

.AvailableProjectCardAll {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  text-decoration: none;
  gap: 2rem;
}
