.OtherProfileCompany {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


.OtherCompany {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 30px;
}

.Part2OtherProfile {
    width: 85%;
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 20px
}

.OtherProfileButtonBack {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OtherProfileDescriptionCenter {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
}

.OtherProfileDescription {
    display: flex;
    width: 90%;
    height: 20%;
    padding: var(--12, 12px) var(--48, 48px) var(--12, 12px) 32px;
    flex-direction: row;
    align-items: center;
    border-radius: var(--12, 12px);
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF4E6;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
}

.CompanyName {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    align-items: center;
    justify-content: center;
}

.C1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    height: 35%;
}

.C1Text {
    color: var(--dark, #283739);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.C1Number {
    color: var(--dark, #283739);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

}

.C2 {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    width: 100%;
    height: 30%;

}

.C2Text {
    color: rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.Domain {
    padding-top: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 37%;
    align-items: flex-end;
    justify-content: center;
}

.D1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    height: 35%;
}

.D1Text {
    color: #000;
    font-feature-settings: 'clig'off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.D2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    height: 30%;
}

.D2Text {
    color: rgba(0, 0, 0, 0.60);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.CreateDate {
    padding-top: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 37%;
    align-items: flex-end;
    justify-content: center;
}

.CD1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    height: 35%;
}

.CD1Text {
    color: #000;
    font-feature-settings: 'clig'off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.CD2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    height: 30%;
}

.CD2Text {
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.UnderOtherProfile {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
}

.Part1UnderOther {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55%;
    height: 100%;
    gap: 20px;
}


.UnderDescription {
    height: 40%;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: var(--12, 12px);
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--white-100, #FFF);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
}

.Para {
    width: 90%;
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.CommentsCard {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    overflow-y: scroll;
}

.Part1UnderAddComments {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Part1UnderAddCommentsInputs {
    color: #000;
    height: 80%;
    width: 70%;
    border-radius: var(--0, 8px);
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--white-100, #FFF);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
}

.Part2UnderOther {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
    gap: 60px;
}

.CurrentProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    height: 30%;
    gap: 10px;

}

.CP1 {
    width: 80%;
    color: rgba(0, 0, 0, 0.60);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.CP1Dark {
    width: 80%;
    color: #aba6a6;
    ;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TeamAll {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    height: 60%;
    gap: 15px;
}

.TA1 {
    width: 80%;
    color: rgba(0, 0, 0, 0.60);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TA1Dark {
    width: 80%;
    color: #aba6a6;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}