.CP1 {
    color: rgba(0, 0, 0, 0.60);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TA1 {
    color: rgba(0, 0, 0, 0.60);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}