.MainCompanyWorkOn {
    display: flex;
    flex-direction: row;
}

.CompanyImWorkOn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Part2CompanyWorkingOn {
    display: flex;
    padding-left: 4vw;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 6vw;

}

.FakeDivWorkingOn {
    width: 30vh;
}
.ContentCompanyWorkOn {
    display: flex;
    flex-direction: column;

    padding-top: 1vw;
    gap: 1.5vw;
}


.SearchCompanyWorkOn {
    display: flex;
    flex-direction: column;
    gap:1vw ;

}

.SearchPartCompanyWorkOn {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.TextPartCompanyWorkOn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: var(--12, 12px) var(--0, 0px) var(--0, 0px) var(--12, 12px);
    border: 1px solid rgba(56, 142, 60, 0.40);
    
}


.SvgPartCompanyWorkOn {
    padding-top: 0.65vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-bottom: 0.65vw;
    border-radius: var(--0, 0px) var(--12, 12px) var(--12, 12px) var(--0, 0px);
    background: var(--30, #388E3C);
}

.ButtonPartCompanyWorkOn {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    align-items: center;
    justify-content: flex-start;
}

.Part3CompanyWorkOnCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}