.DashboardProfileCardAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.DashboardProfileCardimg{
    height: 35px;
    width: 35px;
}

.DashboardProfileCardText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.DashboardProfileCardText1 {
    color: var(--Brainstorming-Black-Tints-900, #1A1A1A);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.DashboardProfileCardText1Dark {
    color: #cecbcb;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.DashboardProfileCardText2 {
    color: var(--Brainstorming-Black-Tints-300, #B3B3B3);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}