.NavOriginal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.03);
  position: fixed;
  background-color: white;
  top: 0;
  width: 86%;
  right: 0;
  z-index: 1000;
  padding: 0.4rem 2rem 0.4rem 6rem;
}

.Notifications {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.NavDark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #000;
  box-shadow: 0px 6px 4px 0px rgba(224, 223, 223, 0.07);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
}

.TopImage {
  width: fit-content;
  align-items: center;
  display: inline-flex;
  gap: 12px;
}
.TopImageOriginal {
  padding-left: 100px;
  width: fit-content;
  align-items: center;
  display: inline-flex;
  gap: 12px;
}

.NavMainLogo {
  width: 45px;
  height: 45px;
}

.NavTextBar {
  color: #000;
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -0.36px;
}

.NavTextBarDark {
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -0.36px;
}

.TopPartNavBar {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.BackSearch {
  background-color: #f4f7fe;
  border-radius: 49px;
  height: 41px;
  width: 214px;
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  gap: 10px;
}

.TextSearch {
  outline: none;
  color: #8e9ab9;
  font-family: "DM Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.28px;
  line-height: 20px;
  border: none;
  background-color: transparent;
}

.Svg {
  padding-right: 1vw;
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ProfileLogo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.ButtonSvg {
  border: none;
  background-color: transparent;
}
