.CreateTaskAll {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.CreateTaskMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.CreateTaskContent {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(242, 249, 241, 0.40);
}

.CreateTaskCenter {
    width: 45%;
    height: 80%;
    border-radius: var(--12, 12px);
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--white-100, #FFF);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    gap: 15px;
}
.CreateTaskCenterDark {
    width: 45%;
    height: 80%;
    border-radius: var(--12, 12px);
    border: 1px solid rgba(254, 238, 238, 0.194);
    background:#000;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    gap: 15px;
}

.CreateTaskHeader {
    color: var(--dark, #283739);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    height: 10%;
}
.CreateTaskHeaderDark {
    color: #FAFAFA;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    height: 10%;
}

.InputsAll {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    height: 55%;
}

.CreateTaskDataInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    gap: 5px;
}
.CreateTaskLabel{
    color: var(--dark, #283739);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.CreateTaskLabelDark{
    color: var(--light, #d9dbdc);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.CreateTaskTextInput{
    display: flex;
    height: 60%;
    padding-left: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--line, #EAEAEA);
    background: #FAFAFA;
    color:  rgba(0, 0, 0, 0.60);
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px; 
}

.CreateTaskInput1 {
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}

.CreateTaskInput2 {
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}
.CreateTaskSteps{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100% !important;
    align-items: flex-start;
    gap: 10px;

}
.CreateTaskButton{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 10%;
 }

