.ForgetPasswordAll {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

.ForgetPasswordPart1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: flex-start;
    justify-content: space-between;
}

.ForgetPasswordImg {
    height: 60px;
    width: 60px;
}

.ForgetPasswordPart2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    border-radius: var(--12, 12px);
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--white-100, #FFF);
    padding: 50px 50px;
    gap: 32px;
    padding-bottom: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
}

.ForgetPasswordLogoPart {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
    gap: 15px;
}

.ForgetPasswordLogo {
    width: 56px;
    height: 56px;
}

.ForgetPasswordLogoPartText {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -0.36px;
}

.ForgetPasswordTextsPart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.ForgetPasswordPart2Text1 {
    color: var(--dark, #283739);
    font-family: "Open Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
}

.ForgetPasswordPart2Text2 {
    width: 100%;
    color: rgba(0, 0, 0, 0.60);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.ForgetPasswordInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 30%;
}

.ForgetPasswordLabelText {
    color: var(--dark, #283739);
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.ForgetPasswordTextInput {
    display: flex;
    padding: 15px 11px;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--line, #EAEAEA);
    background: #FAFAFA;
    color: var(--light, rgba(0, 0, 0, 0.60));
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.ForgetPasswordButton {
    color: var(--White, var(--white-100, #FFF));
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
}

.ForgetPasswordUnder{
    height: 15%;
    justify-content: center;
    padding-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}