.CreateCompany {
    display: flex;

}

.FakeDivNews {
    width: 40vh;
}

.ContentCreateCompany {
    display: flex;
    gap: 5vw;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

}

.CreateComp {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.Part2CreateCompany {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 7vw;
}


.CreateCompanyInputs {
    padding-top: 3vw;
    display: flex;
    gap: 8vw;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.Part1Inputs {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: flex-start;
}

.GeneralInformationCreateCompany {
    color: rgba(0, 0, 0, 0.60);
    font-family: Roboto;
    padding-right: 2vw;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.InputsCreateCompanyAll {
    display: flex;
    gap: 2vw;
    flex-direction: column;
    align-items: flex-start;

}

.InputOverAll {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.TextPartCompany {
    color: #283739;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.TextInputCreateCompany {
    display: flex;
    padding-bottom: 0.7vw;
    padding-left: 0.5vw;
    padding-top: 0.7vw;
    padding-right: 10vw;
    border-radius: 5px;
    border: 1px solid var(--line, #EAEAEA);
    background: #FAFAFA;
    color: rgba(0, 0, 0, 0.60);
    font-family: "Open Sans";
    font-size: 14px;

}

.Part2Teams {
    display: flex;
    flex-direction: column;
    gap: 2vw;


}

.TextTeamCreateCompany {
    color: rgba(0, 0, 0, 0.60);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.InputOverAllTeam {
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    align-items: flex-start;

}

.AddTeamsCreateCompany {
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.ButtonCreateCompany {
    padding-left: 12vw;
    bottom: 3vw;
    text-decoration: none;
    position: absolute;
    flex-direction: row;
    display: flex;
}