.HomePage2All{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, #FFF5EB 0%, #FFF 47.47%);
    gap: 50px;
}
.HomePage2Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    gap: 5px;
}
.HomePage2TitleText1{
    color: #000;
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}
.HomePage2TitleText2{
    color: #555;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.HomePage2Center{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 40%;
    width: 100%;
    justify-content: space-between;
}

.HomePage2CenterImg{
height: 250px;
width: 500px;
}
.HomePage2Center1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:40%;
    align-items: flex-start;
    gap: 40px;
}
.HomePage2CenterSpanAll{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.HomePage2Center1Part1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.HomePage2Center1Text1{
    color: var(--30, #388E3C);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.HomePage2Center1Text2{
    color: #000;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

.HomePage2Center1Text3{
    width:60%;
    color: #525252;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.HomePage2Under{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 40%;
    width: 95%;
    justify-content: space-between;
}

.HomePage2UnderImg{
height: 250px;
width: 500px;
border-radius: 5px;
}
.HomePage2Under1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:50%;
    align-items: flex-start;
    gap: 40px;
}
.HomePage2UnderSpanAll{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.HomePage2Under1Part1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.HomePage2Under1Text1{
    color: var(--30, #388E3C);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.HomePage2Under1Text2{
    color: #000;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

.HomePage2Under1Text3{
    width:60%;
    color: #525252;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}