.body{
height: 100%;
width: 100%;
}
  .content {
    padding: 20px;
    margin-left: 220px; /* Adjust the width of the sidebar */
  }
  .MainTop{
    color: #1B2559;
font-family: Plus Jakarta Sans;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 34px */
padding-left: 10px;
margin-top: 100px;
  }
  .content h2 {
    font-size: 34px;
    margin-top: 40px;
    margin-left: 270px;
    color: #1b2559;
    font-family: Poppins;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .Under {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .UnderHome,
  .UnderLicense,
  .UnderTeamOfUse,
  .UnderPrivacy {
    color: #718096;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  
  .UnderHome,
  .UnderTeamOfUse,
  .UnderLicense,
  .UnderPrivacy {
    margin-right: 30px;
    margin-bottom: 70px;
  }
  
  .UnderClass {
    margin-left:250px ;
    margin-right:700px ;
     margin-bottom: 80px;
     color: #718096;
     text-align: center;
     font-family: Plus Jakarta Sans;
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px;
  }
  
  .chatFooter {
    margin-bottom: -10px;
    margin-left: -70px; /* Align with the left edge of the sidebar */
    width: calc(100% - 220px); /* Adjust width based on sidebar width */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .inp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 738px;
    height: 54px;
    margin-bottom: 30px;
   
  }

 
  .inp input {
    width: 738px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 20px;
    /* margin-left: 30px; */
    padding-left: 20px;
  }
  .iconFlash{
    display: flex;
margin-left: 400px;
margin-bottom: 140px;

  }

  .footer {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    display: flex;
    width: 170px;
    height: 54px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 45px;
    background: var(--30, #388e3c);
    color: #fff; /* Adjust text color */
    font-family: "Plus Jakarta Sans", sans-serif; /* Adjust font family */
    font-size: 16px; /* Adjust font size */
    font-weight: 500; /* Adjust font weight */
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
  }
  
  .btn:hover {
    background-color: #2e7d32; /* Adjust hover background color */
  }
  