
#root{height: 100%;
    width: 100%;
}



:root {
  --dark: rgba(40, 55, 57, 1);
  --light: rgba(244, 244, 244, 1);
  --s: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  --s-2: 0px 20px 60px 0px rgba(0, 0, 0, 0.2);
  --variable-collection-30: rgba(56, 142, 60, 1);
  --variable-collection-blue: rgba(22, 75, 96, 1);
  --variable-collection-dark-orange: rgba(238, 114, 20, 1);
  --variable-collection-g1: rgba(198, 246, 213, 1);
  --variable-collection-greenlight: rgba(131, 194, 157, 0.2);
  --variable-collection-light: rgba(242, 249, 241, 1);
  --variable-collection-link: rgba(51, 102, 204, 1);
  --variable-collection-lite-blue: rgba(231, 245, 255, 1);
  --variable-collection-orange: rgba(255, 167, 137, 1);
  --variable-collection-pur: rgba(117, 49, 136, 1);
}

