.CreateTeamCardAll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.5vw;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--line, #EAEAEA);
    background: var(--light, #F2F9F1);
    padding-left: 0.50vw;
    padding-top: 0.25vw;
    padding-right: 0.50vw;
    padding-bottom: 0.25vw;

}

.CreateTeamCardText {
    color: var(--variable-collection-30);
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;

}

.CreateTeamCardimgSvg {
    height: 16px;
    width: 16px;
}