.MyCompaniesTeamsAll {
    display: flex;
    flex-direction: row;
}

.MyCompaniesTeamsMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.FakeDiveMyCompaniesTeams {
    width: 30vh;
}

.MyCompaniesTeamsCenter {
    display: flex;
    padding-left: 3vw;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 6vw;
}

.MyCompaniesTeamsCenterButtonBack {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.MyCompaniesTeamsContent {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 3vw;
    align-items: flex-start;
    gap: 2vw;
}

.MyCompaniesTeamsContentButtons {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    align-items: center;
    justify-content: flex-start;
}
.CreateNewTeamRole{
    display: flex;
    flex-direction: row;
    gap: 11vw;
    align-items: center;
    justify-content: flex-start;
}

.MyCompaniesTeamsContentCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
    align-items: center;
    justify-self: flex-start;
    gap: 2.3vw;
}