.ShowMyPostAll {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.ShowMyPostMain {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.ShowMyPostContent {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.ShowMyPostButtonBack {
  height: 90%;
  width: 11%;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}
.ShowMyPostData {
  width: 94%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.SearchPartShowMyPost {
  width: 90%;
  height: 8.9%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.TextPartShowMyPost {
  display: flex;
  padding: 10px;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: var(--12, 12px) var(--0, 0px) var(--0, 0px) var(--12, 12px);
  border: 1px solid rgba(56, 142, 60, 0.4);
  background: var(--white-100, #fff);
}
.TextPartShowMyPostDark {
  display: flex;
  padding: 10px;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: var(--12, 12px) var(--0, 0px) var(--0, 0px) var(--12, 12px);
  border: 1px solid rgba(56, 142, 60, 0.4);
  background: var(--white-100, #000000);
}

.SvgPartShowMyPost {
  display: flex;
  height: 100%;
  padding: 0px 12.831px;
  justify-content: center;
  align-items: center;
  gap: 6.843px;
  border-radius: var(--0, 0px) var(--12, 12px) var(--12, 12px) var(--0, 0px);
  background: var(--30, #388e3c);
  border: none;
}

.ShowMyPostButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 20%;
  height: 8%;
  gap: 20px;
}
.ShowMyPostCards {
  width: 100%;
  display: flex;
  height: 80%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.ShowAllPostsData .ShowAllPostsCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#PostsCardContent {
  max-height: 12vw;
  overflow: auto;
}
