#Alert {
  position: absolute;
  top: 2vw;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 20 !important;
  animation: appear 1s;
  width: 20%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
