.MainMyCompanies {
  display: flex;
  flex-direction: row;
}

.MyCompanies {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  scroll-snap-type: y mandatory;
}

.Part2My {
  display: flex;
  flex-direction: row;
  padding-top: 5vw;
  align-items: flex-start;
}

.FakeDivNew {
  width: 20%;
}
.SearchMy {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.ContentMyCompanies {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.SearchPart {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.TextPartInput {
  display: flex;
  padding: 10px;
  outline: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  flex-shrink: 0;
  border-radius: var(--12, 12px) var(--0, 0px) var(--0, 0px) var(--12, 12px);
  border: 1px solid rgba(56, 142, 60, 0.4);
  background: var(--white-100, #fff);
}

.SvgPart {
  display: flex;
  padding: 0px 12.831px;
  justify-content: center;
  align-items: center;
  gap: 6.843px;
  border-radius: var(--0, 0px) var(--12, 12px) var(--12, 12px) var(--0, 0px);
  background: var(--30, #388e3c);
}

.ButtonPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.Part3My {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  padding: 0rem 2rem 2rem 2rem;
}
