.HomePageAll{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.HomePage1HomeAll {
    display: flex;
    flex-direction: row;
    height: 100% !important;
    background-color: #388E3C;
    width: 100%;
}

.HomePage1HomePart1 {
    padding-left: 30px;
    padding-top: 21px;
    height: 100%;
    width: 45%;
    background: #131212;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomePage1HomePart1Top {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 10%;
}

.HomePage1HomePart1LogoPart {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    gap: 10px;
    align-items: center;
}

.HomePage1HomePartTexts {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
}

.HomePage1HomePart1LogoPartText {
    color: var(--white, var(--white-100, #FFF));
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.36px;
}

.HomePage1HomePart1NavBar {
    display: flex;
    flex-direction: row;
    height:77% ;
    width: 50%;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    background:  rgba(0, 0, 0, 0.60);
    border-radius: 5px;
}

.HomePage1HomePart1NavBarButton {
    color: var(--white, var(--white-100, #FFF));
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.145px;
    border: none;
    background-color: transparent
}

.HomePage1HomePart1Text1 {
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white-100, #FFF);
    font-family: "Montserrat";
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.HomePage1HomePart1Text2 {
    width: 100%;
    height: 30%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--white-100, #FFF);
    font-family: 'Montserrat';
    font-size: 110px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.HomePage1HomePart1Text3 {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 80px;
    width: 100%;

}

.HomePage1HomePart1Text3Paragraph {
    height: 70%;
    width: 70%;
    opacity: 0.55;
    color: var(--white-100, #FFF);
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.HomePage1HomePart1Text3Span {
    height: 40%;
    color: var(--white-100, #FFF);
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.HomePage1HomePart2 {
    width: 55%;
    background: url("C:\Users\osama\Desktop\class2code\frontend\src\pages\OtherPages\Home\HomePart2Img.png") lightgray 50% / cover no-repeat;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    align-items: center;
}

.HomePage1HomePart2Top {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

.HomePage1HomePart2NavBar {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    background:  rgba(0, 0, 0, 0.289);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 5px;
    transform: scale(1.07);
    padding-right: 20px;
    border-left: none;
}

.HomePage1HomePart2NavBarButton {
    color: var(--white, var(--white-100, #FFF));
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.145px;
    border: none;
    background-color: transparent;
}

.HomePage1HomePart2NavBarButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    gap: 20px;
    padding-right: 30px;
    justify-content: flex-end;
    height: 100%;
}

.HomePage1EmptyClass {
    height: 20%;
    width: 100%;
}

.HomePage1HomePart2CompleteDevelop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    height: 37%;
    transform: scale(1.10);
    color: var(--white-100, #FFF);
    font-family: 'Montserrat';
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.HomePage1HomePart2Collaborate {
    background:  rgba(0, 0, 0, 0.60);
    width: 60%;
    height: 15%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 3px;
}

.HomePage1HomePart2CollaborateText {
    color: var(--white-100, #FFF);
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.HomePage1HomePart2CompleteScroll {
    width: 100%;
    height:6.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--white-100, #FFF);
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.HomePage2All{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, #FFF5EB 0%, #FFF 47.47%);
    gap: 50px;
}
.HomePage2Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    gap: 5px;
}
.HomePage2TitleText1{
    color: #000;
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}
.HomePage2TitleText2{
    color: #555;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.HomePage2Center{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 40%;
    width: 100%;
    justify-content: space-between;
}

.HomePage2CenterImg{
height: 250px;
width: 500px;
}
.HomePage2Center1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:40%;
    align-items: flex-start;
    gap: 40px;
}
.HomePage2CenterSpanAll{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.HomePage2Center1Part1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.HomePage2Center1Text1{
    color: var(--30, #388E3C);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.HomePage2Center1Text2{
    color: #000;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

.HomePage2Center1Text3{
    width:60%;
    color: #525252;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.HomePage2Under{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 40%;
    width: 95%;
    justify-content: space-between;
}

.HomePage2UnderImg{
height: 250px;
width: 500px;
border-radius: 5px;
}
.HomePage2Under1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:50%;
    align-items: flex-start;
    gap: 40px;
}
.HomePage2UnderSpanAll{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.HomePage2Under1Part1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.HomePage2Under1Text1{
    color: var(--30, #388E3C);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.HomePage2Under1Text2{
    color: #000;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

.HomePage2Under1Text3{
    width:60%;
    color: #525252;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}