.EditPostAll {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.EditPostMain {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.EditPostCenter {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(242, 249, 241, 0.40);
}

.EditPostContent {
    width: 45%;
    height: 60%;
    border-radius: var(--12, 12px);
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--white-100, #FFF);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    gap: 15px;
}

.EditPostHeader {
    color: var(--dark, #283739);
    font-family: "Open Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    height: 15%;
}

.EditPostAllInput {
    width: 100%;
    height: 70%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.EditPostInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 25%;
    gap: 5px;
}

.TextPartLabel {
    color: #283739;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.EditPostTextInput {
    display: flex;
    padding: 15px 11px;
    height: 75%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--line, #EAEAEA);
    background: #FAFAFA;
    color: var(--light, rgba(0, 0, 0, 0.60));
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.EditPostTextInput1 {
    width: 100%;
    padding-bottom: 50px;
    padding-left: 11px;
    display: flex;
    height: 75%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--line, #EAEAEA);
    background: #FAFAFA;
    color: var(--light, rgba(0, 0, 0, 0.60));
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.EditPostInputPost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    gap: 5px;
}

.EditPostButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 15%;
}